.archive {
    max-width: $CONTENT_WIDTH;
    margin: 5em auto;
    .post-item {
        padding: 2px 0 0 50px;
    }
    .post-time,
    .post-title-link {
    }
    .post-title-link {
        margin-left: 125px;
        color: $MAIN_COLOR;
        word-break: break-all;
        @include animate(hover, color, $MAIN_COLOR, 0.3s);
        &:hover {
            border-bottom: 0;
        }
    }
    .post-info {
        float: left;
        width: 125px;
        color: #ff79c6;;
    }


    .category-list-item {
        padding: 2px 0 0 50px;
    }
    .category-list-link {
        float: left;
        color: $MAIN_COLOR;
        word-break: break-all;
        @include animate(hover, color, $MAIN_COLOR, 0.3s);
        &:hover {
            border-bottom: 0;
        }
    }
    .category-list-count {
        margin-left: 50px;
        width: 50px;
        color: #ff79c6;;
    }


    .tag-list-item {
        padding: 2px 0 0 50px;
    }
    .tag-list-link {
        float: left;
        color: $MAIN_COLOR;
        word-break: break-all;
        @include animate(hover, color, $MAIN_COLOR, 0.3s);
        &:hover {
            border-bottom: 0;
        }
    }
    .tag-list-count {
        margin-left: 50px;
        width: 50px;
        color: #ff79c6;;
    }


}
